/* Vertical Offset Bottom */
.vert-offset-top-12{
  margin-top: 12em;
}
.vert-offset-top-11{
  margin-top: 11em;
}
.vert-offset-top-10{
  margin-top: 10em;
}
.vert-offset-top-9{
  margin-top: 9em;
}
.vert-offset-top-8{
  margin-top: 8em;
}
.vert-offset-top-7 {
  margin-top: 7em;
}
.vert-offset-top-6{
  margin-top: 6em;
}
.vert-offset-top-5{
  margin-top: 5em;
}
.vert-offset-top-4{
  margin-top: 4em;
}
.vert-offset-top-3{
  margin-top: 3em;   
}
.vert-offset-top-2{
  margin-top: 2em;
}
.vert-offset-top-1{
  margin-top: 1em;
}
.vert-offset-top-0{
  margin-top: 0em;
}
/* Vertical Offset Bottom */
.vert-offset-bottom-12{
  margin-bottom: 12em;
}
.vert-offset-bottom-11{
  margin-bottom: 11em;
}
.vert-offset-bottom-10{
  margin-bottom: 10em;
}
.vert-offset-bottom-9{
  margin-bottom: 9em;
}
.vert-offset-bottom-8{
  margin-bottom: 8em;
}
.vert-offset-bottom-7{
  margin-bottom: 7em;
}
.vert-offset-bottom-6{
  margin-bottom: 6em;
}
.vert-offset-bottom-5{
  margin-bottom: 5em;
}
.vert-offset-bottom-4{
  margin-bottom: 4em;
}
.vert-offset-bottom-3{
  margin-bottom: 3em;
}
.vert-offset-bottom-2{
  margin-bottom: 2em;
}
.vert-offset-bottom-1{
  margin-bottom: 1em;
}
.vert-offset-bottom-0{
  margin-bottom: 0em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-fluid .jumbotron, .container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid .jumbotron2, .container .jumbotron2 {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px)
{
.container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
.container-fluid .jumbotron2, .container .jumbotron2 {
  padding-left: 60px;
  padding-right: 60px;
}
}

@media screen and (min-width: 768px)
{
.jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
}
.jumbotron2 {
  padding-bottom: 48px;
  padding-top: 48px;
}
}

.jumbotron {
  background-color: #000000;
  background: url("../public/images/front4.jpg") no-repeat center center; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  object-fit: cover;
  height: 665px;
}

.jumbotron2 {
  background-color: #000000;
  background: url("../public/images/cu3.jpg") no-repeat center center; 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  object-fit: cover;
  height: 665px;
}
.navv {
  margin-left: 20px;
}
.navit {
  margin-right: 10px;
}
.logintext {
  color:rgb(192, 189, 189);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 300%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logt2 {
  color: rgb(192, 189, 189);
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}
.logintext1 {
  color:rgb(192, 189, 189);
  font-family: 'Courier New', Courier, monospace;
  
  font-size: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn1 {
  width: 150px;
}

.mt-7 {
  margin-top: 6rem;
}

.mt-8 {
  margin-top: 7rem;
}

@media (min-width: 768px) {
  .mt-10 {
    margin-top: 10rem;
  }
  .i1 {
    height: 250px;
  }
  .i3 {
    height: 150px;
    width: 200px;  
    margin-top: 0%;
    /* padding-bottom: 100px; */
  }
  .i4 {
    height: 225px;
  }
  .tt1 {
    padding-left: 50px;
    margin-left: 50px;
    
  }
  .bb1 {
    height: 100px;
  }
  .w-50 {
    width: 75%;
  }
}
@media (min-width:1025px) {
    .bb1 {
      height: 100%;
    }
}

.h1t1 {
  font-family: 'Courier New', Courier, monospace;
}

.h1t2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.i2 {
  margin-bottom: 50px;
  height: 150px;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 2px ridge;
  min-height:150px;
}

.h1t3 {
  text-align: center;
}

.i5 {
  height: 150px;
  width: 150px;
}

.i6 {
  height: 150px;
}

.h2t1 {
  background-color: rgba(0, 0, 0, 0.2);
}

.a1 {
  text-decoration: none;
}



.row-content1 {
  margin:0px auto;
  padding: 30px 0px 50px 0px;
  border-bottom: 2px ridge;
  min-height:100px;
}

.a2 {
  color: black;
}

.mb-6 {
  margin-bottom: 8rem;
}

.mb-10 {
  margin-bottom: 12rem;
  margin-top: 15rem;
  padding-top: 3rem;
}

.mt-9 {
  margin-top: 9rem;
}

.bbb1 {
  margin-right: 20px;
}